.home {
  display: flex;
  justify-content:space-between;
  width: 98%;
  margin: 0 auto;
  padding: 0px 15px;
  background-color: rgb(214, 214, 214);
  /* padding-top: 100px; */
  /* min-height: 100vh; */
  margin-top: 100px;
  height: calc(100vh - 100px);
  /* overflow-y: auto; */
  /* position: relative; */
}
.friends {
  /* position: fixed; */
  width: 20%;
  left: 30px;
  /* height: 100vh; */
}
.postContents {
  position: relative;
  padding:0px 20px;
  /* left: 48%; */
  /* margin-top: 100px; */
  height: calc(100vh - 110px);
  overflow: auto;
  margin-top: 10px;
  /* transform: translateX(-50%); */
  width: 50%;
}
.postContents::-webkit-scrollbar {
  display: none;
}
.posts {
  /* position: fixed; */
  width: 25%;
  right: 30px;
  margin-right: 20px;
  /* height: 100vh; */
}

/* responsive tablet big */
@media (min-width: 1024px) and (max-width: 1365px) {
  .home {
    width: 100%;
  }
  .friends {
    display: none;
  }
  .posts {
    width: 35%;
    right: 15px;
    margin-right: 0;
  }
  .postContents {
    width: 63%;

    left: 0;
    transform: translateX(-0%);
  }
}

/* responsive tablet small */
@media (min-width: 768px) and (max-width: 1023px) {
  .home {
    width: 100%;
  }
  .friends {
    display: none;
  }
  .posts {
    width: 35%;
    right: 15px;
    margin-right: 0;
  }
  .postContents {
    width: 63%;

    left: 0;
    transform: translateX(-0%);
  }
}
/* responsive mobile */
@media (max-width: 767px){
  .home {
    width: 100%;
    padding: 0;
  }
  .friends {
    display: none;
  }
  .posts {
    display:none;
  }
  .postContents {
    width: 100%;

    left: 0;
    transform: translateX(-0%);
  }
}
