* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}
body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #1a1919;
  color: #999;
}
.logout {
  width: 100%;
  padding: 5px 0px 5px 0px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 20px;
  background-color: #f40;
  text-align: center;
  cursor: pointer;
}

#inputImage {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.overlayBackground {
  position:fixed;
  inset:0;
  background-color:rgba(138, 136, 136, 0.1);
  
}